body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container-feedback {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 100%;
    margin: 0 15px;
}

.form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
    text-align: center;
}

.form-content-feedback {
    margin-bottom: 15px;
}

.form-content-feedback p {
    margin: 0 0 5px;
    color: #666666;
    font-size: 14px;
}

input[type="radio"] {
    margin-right: 10px;
}

textarea {
    width: calc(100% - 10px);
    padding: 5px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    resize: vertical;
}

