.geolocations-container {
    display: flex;
    justify-content: center;
    margin: 2rem;
    padding: 2rem;
    background-color: rgb(141, 209, 124);
    min-height: 95vh;
}

.place-content {
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: space-between;
}

.geo-data {
    display: flex;
    justify-content: center;
    flex-direction: column;
}